a {
  text-decoration: none !important;
}

/* #right-side {
  position: fixed;
  top: 5.5%;
  right: 10%;
  max-width: 25%;
} */

#scroll {
  overflow-x: hidden;
  overflow-x: scroll;
  text-align: justify;
  height: 600px;
  scrollbar-width: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#scroll::-webkit-scrollbar {
  display: none;
}
